<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Librarian", "LoginIN", "Users", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Registra Students", "RegistrationList", "Users")</li>
                    <li>@Html.ActionLink("Books List", "List", "Books")</li>
                    <li>@Html.ActionLink("Order List", "orderlist", "Students")</li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Session["ID"] != null)
                    {
                        <li style="top:10px;left:20px;color:white">Hellow @Session["Username"].ToString()</li>
                        <li style="bottom:5px; left:20px;">
                            <a href="@Url.Action("Logout","Users")">LOGOUT!!</a>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("SIGNIN", "Login", "Users")</li>
                        <li>@Html.ActionLink("SIGNUP", "Create", "Users")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
